<div class="org-create-header">
    <a routerLink="../list" nz-button>返回</a>
</div>
<div class="org-create-form">
    <form nz-form [formGroup]="orgForm" (submit)="save()">
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="name">名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input name="name" formControlName="name">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="parentId">上级组织</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择" formControlName="parentId">
                    <nz-option *ngFor="let org of organizations" [nzLabel]="org.name" [nzValue]="org.organizationId"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="description">描述</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <textarea nz-input
                          name="description"
                          formControlName="description"></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="isClass">是否为班级</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-radio-group formControlName="isClass">
                    <label nz-radio [nzValue]="true">是</label>
                    <label nz-radio [nzValue]="false">否</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary">保存</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
