<div class="org-tree">
    <nz-tree [(ngModel)]="orgTree"
             [nzDraggable]="true"
             [nzAsyncData]="true"
             (nzOnDragStart)="orgDragStart($event)"
             (nzOnDrop)="orgDrop($event)"
             [nzShowLine]="true"
             (nzExpandChange)="treeExpand($event)"
             (nzClick)="orgItemClick($event)">
    </nz-tree>

</div>
<div class="org-body">
    <div class="org-list-title">
        <h3>{{curTreeNode?.origin?.name||'全公司'}}</h3>
        <nz-dropdown [nzTrigger]="'click'">
            <button nz-button [nzType]="'primary'" nz-dropdown><span>操作</span> <i class="anticon anticon-down"></i>
            </button>
            <ul nz-menu>
                <li *ngIf="curTreeNode&&curTreeNode.key!=='0';" nz-menu-item
                    (click)="openOrganizationCreateModal(curOrganization)">
                    <a>
                        <i class="anticon anticon-form"></i>
                        编辑
                    </a>
                </li>
                <li nz-menu-item (click)="openOrganizationCreateModal()">
                    <a>
                        <i class="anticon anticon-usergroup-add"></i>
                        添加子部门
                    </a>
                </li>
                <li nz-menu-item (click)="openCreateAccountModal()">
                    <a>
                        <i class="anticon anticon-user-add"></i>
                        添加员工
                    </a>
                </li>
                <li *ngIf="curTreeNode&&curTreeNode.key!=='0'" nz-menu-divider></li>
                <li nz-menu-item class="text-danger"
                    (click)="deleteOrganization()"
                    *ngIf="curTreeNode&&curTreeNode.key!=='0'">
                    <i class="anticon anticon-delete"></i>
                    删除
                </li>
            </ul>
        </nz-dropdown>
    </div>
    <div class="org-list">
        <nz-table #basicTable [nzData]="accounts">
            <thead>
            <tr>
                <th>用户名</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>手机号</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.username}}</td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.enabled}}</td>
                <td>
                    <a (click)="updateAccount(data)">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>Delete</a>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</div>
