<form nz-form [formGroup]="contactForm">
    <nz-form-item *ngIf="!contact">
        <nz-form-label [nzSpan]="6" nzFor="username" [nzRequired]="true">用户名</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input style="width: 200px;" nz-input name="username" formControlName="username">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name" [nzRequired]="true">姓名</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input style="width: 200px;" nz-input name="name" formControlName="name">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">邮箱</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input name="email" type="email" formControlName="email">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="phone">手机号</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input name="phone" formControlName="phone">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="organizationIds">部门</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select nzMode="tags" nzShowSearch nzAllowClear nzPlaceHolder="选择部门" formControlName="organizationIds">
                <nz-option *ngFor="let item of organizations"
                           [nzLabel]="item.route.length>1?item.route.slice(1).join('/'):item.route[0]"
                           [nzValue]="item.organizationId">

                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="isAdmin">管理员</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-radio-group formControlName="isAdmin">
                <label nz-radio [nzValue]="true">是</label>
                <label nz-radio [nzValue]="false">否</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
</form>
