<nz-breadcrumb>
    <nz-breadcrumb-item>账户管理</nz-breadcrumb-item>
    <nz-breadcrumb-item routerLink="../../list">角色</nz-breadcrumb-item>
    <nz-breadcrumb-item>成员</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="role-list table-list" *ngIf="role">
    <div class="table-list-header">
        <h2>{{role.name}}</h2>
    </div>
    <div class="table-list-control">
        <button nz-button [nzType]="'primary'" (click)="bindAccount()">绑定帐号</button>
    </div>
    <div class="table-list-table">
        <nz-table #roleTable
                  [nzData]="members"
                  [nzPageIndex]="page"
                  [nzPageSize]="size"
                  [nzTotal]="total"
                  (nzPageIndexChange)="pageChange($event)">
            <thead>
            <tr>
                <th>用户名</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>手机号</th>
                <th nzWidth="120px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of roleTable.data">
                <td>
                    {{data.username}}
                    &nbsp;&nbsp;<nz-tag *ngIf="data.isAdmin" [nzColor]="'gold'">管理员</nz-tag>
                </td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phone}}</td>
                <td>
                    <a (click)="removeMember(data)">移除</a>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</div>
