@import "../../../variable";
:host {
    & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        & > li {
            list-style: none;
            margin: 0;
            width: 100%;
            padding: 0 50px;
            text-align: center;
            &:not(:last-child){
                margin-bottom: 10px;
            }
            button {
                width: 100%;
            }
        }
    }
}
