<div class="avatar-container">
    <img [src]="profile.avatar" class="avatar">
</div>
<div class="profile-info">
    <div class="form-static">
        <div class="form-static-group">
            <label class="form-static-label">用户名</label>
            <div class="form-static-control">
                <p>{{profile.username}}</p>
            </div>
        </div>
        <div class="form-static-group">
            <label class="form-static-label">姓名</label>
            <div class="form-static-control">
                <p>{{profile.name}}</p>
            </div>
        </div>
        <div class="form-static-group">
            <label class="form-static-label">手机号</label>
            <div class="form-static-control">
                <p>{{profile.phone}}</p>
            </div>
        </div>
        <div class="form-static-group">
            <label class="form-static-label">邮箱</label>
            <div class="form-static-control">
                <p>{{profile.email}}</p>
            </div>
        </div>
        <div class="form-static-group">
            <label class="form-static-label">部门</label>
            <div class="form-static-control">
                <p *ngFor="let org of profile.organizations">
                    {{org.route.join('/')}}
                </p>
            </div>
        </div>
    </div>
</div>
