.app-header {
    background-color: #1890ff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 64px;
    min-height: 64px;
    user-select: none;
    .logo {
        color: #fff;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: width 0.3s ease;
    }
    .header-item {
        height: 40px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.3s ease;
        color: #fff;
        &:hover {
            background-color: rgba(255, 255, 255, .2)
        }

    }
    .header-item-client {
        background-color: #52a6ff;
    }
    .app-header-menu {
        flex: 1;
        display: flex;
        list-style: none;
        height: 40px;
        padding: 0;
        margin: 0;
        color: #fff;
        background-color: #1890ff;
        & > li {
            height: 100%;
            list-style: none;
            margin: 0;
            padding: 0 10px;
        }
    }
    .app-header-opt {
        height: 40px;
        ul {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
            & > li {
                height: 100%;
                list-style: none;
                padding: 0 4px;
                .header-item-user {
                    color: #fff;
                    .anticon-user {
                        margin-right: 8px;
                    }
                    span {
                        margin-right: 8px;
                    }

                }
            }
        }
        display: flex;
        justify-content: flex-end;
    }
}
